#container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem;
    -webkit-user-drag: none;
    -moz-user-select: -moz-none; 
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #006666;
}